@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
.bannerContent{
    background-image: url('../public/fondo-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 62px;
    margin-bottom: 200px;
}
.number{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.text{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
}